*{
    margin: 0 auto;
}

.contenedor1{

    width: 65vw;
    height: 150vh;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    padding: 20px;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.contacto{

    width: 35%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

.datoscontacto{ 

    margin-top: 20px;
    text-align: left;
    margin-left: 30px;
    font-weight: bold;
    line-height: 2em;
    
}

.datos{

    text-align: left;
    margin-left: 30px;
    font-weight: bold;
    line-height: 2em;
    font-size: small;
}

.texto-descriptivo{

    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 400x;


}

.perfil{

    margin-top: 10px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 10px 5px 5px black;

}


.nombre{

    width: 100%;
    height: 30%;
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;


}

.descripcion{

    width: 100%;
    height: 70%;
    font-family: Arial, Helvetica, sans-serif;

}

#nombre{

    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

#descripcion{

    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.educacion{

    margin-top: 10px;
    margin-left: 30px;
    line-height: 2em;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.experiencia{

    margin-top: 20px;
    margin-left: 30px;
    line-height: 2em;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

.v-line1{ 

    border-left: thick solid #000;
    height: 150%;
    width: .1vw;
    right: 60%;
    position: absolute;
    border-radius: 5px;
    border-width: 2px;
}

.linea{
    
    border-top: 1px solid black;
    height: 10px;
    padding: 0;
    margin-top: 50px;

}